@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.about {
  &__top {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    &-content {
      order: 1;
    }
  }

  &__photo {
    order: 2;
    width: 100%;
  }

  &__header {
    font-family: "Fraunces 9pt";
    font-weight: 700;
    font-size: 2rem;
    margin-block-end: 0;
    padding-bottom: 0.5rem;
  }

  &__desc {
    font-family: "Fraunces 9pt";
    font-weight: 600;
    font-size: 1.3rem;
    margin-block-start: 0;
  }

  &__h2 {
    font-family: "Fraunces 9pt";
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-block-end: 0.5rem;
  }
}

.work {
  &__header {
    font-family: "Fraunces 9pt";
    font-weight: 700;
    font-size: 1.2rem;
    margin-block-end: 0;
  }

  &__list {
    padding-inline-start: 0;
    margin-block-start: 0.5rem;

    &-item {
      list-style: none;
      padding-bottom: 0.5rem;
      font-family: "Uncut Sans";
      font-weight: 500;
    }
  }
}

.professional-stuff,
.after-hours {
  padding: 0 1.5rem;
}
