@font-face {
  font-family: "UncutSans", sans-serif;
  font-weight: 500;
  src: url("../../fonts/Fraunces9ptSuperSoft-Regular.otf") format("opentype");
}

@font-face {
  font-family: "UncutSans", sans-serif;
  font-weight: 600;
  src: url("../../fonts/Uncut-Sans-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "UncutSans", sans-serif;
  font-weight: 700;
  src: url("../../fonts/Uncut-Sans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Fraunces", serif;
  font-weight: 900;
  src: url("../../fonts/Fraunces9ptSuperSoft-Black.otf") format("opentype");
}

@font-face {
  font-family: "Fraunces", serif;
  font-weight: 600;
  src: url("../../fonts/Fraunces9ptSuperSoft-SemiBold.otf") format("opentype");
}
