@font-face {
  font-family: "Uncut Sans", sans-serif;
  font-weight: 600;
  src: url("../../assets/uncut_sans/Uncut-Sans-Semibold.otf");
}

@font-face {
  font-family: "Uncut Sans", sans-serif;
  font-weight: 700;
  src: url("../../assets/uncut_sans/Uncut-Sans-Bold.otf");
}

@font-face {
  font-family: "Fraunces 9pt", serif;
  font-weight: 900;
  src: url("../../assets/fraunces_9pt/Fraunces9ptSuperSoft-Black.otf");
}

@font-face {
  font-family: "Fraunces 9pt", serif;
  font-weight: 600;
  src: url("../../assets/fraunces_9pt/Fraunces9ptSuperSoft-SemiBold.otf");
}
