@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.cta {
  @include breakpoint-min-size($desktop) {
    @include flex-row;
    align-items: center;
    justify-content: center;
  }

  &__container {
    @include breakpoint-min-size($desktop) {
      width: 72%;
    }
  }

  &__header {
    @include m-bold-heading-large;
    margin-block-end: 0.8rem;
  }

  &__desc {
    @include m-body-serif;
    margin-block-start: 0;
  }

  &__links {
    display: flex;
    justify-content: space-between;

    @include breakpoint-min-size($desktop) {
      width: 30%;
    }
  }

  &__item {
    @include m-text-link;
    text-decoration: none;
  }
}
