@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.summary-box {
  border: solid 4px #4069cc;
  border-radius: 16px;
  padding: 1.5rem;
  margin: 1.5rem;

  @include breakpoint-min-size($desktop) {
    margin: 0 14rem;
    width: 66%;
  }

  &__items {
    @include flex-column;
    @include breakpoint-min-size($desktop) {
      @include flex-row;
      justify-content: space-between;
      padding: 0.25rem;
    }
  }

  &__title {
    @include m-bold-heading-large;
    @include removeMargin;
    background-color: white;
    position: relative;
    top: -48px;
    padding: 0 1rem;
    max-width: fit-content;
  }
}
