@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.nav__links > a {
  text-decoration: none;

  &:hover {
    color: #b88700;
  }
}

.nav {
  @include flex-row;
  justify-content: center;

  &__container {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 100%;

    @include breakpoint-min-size($desktop) {
      width: 72%;
    }
  }

  &__links {
    display: none;

    @include breakpoint-min-size($tablet) {
      gap: 1rem;
      @include m-text-link;
      @include flex-row;
    }
  }

  &__mobile-menu {
    @include flex-row;
    @include breakpoint-min-size($tablet) {
      display: none;
    }
  }

  &__logo-img {
    width: 70%;
  }
}

.mobile-menu {
  width: 2rem;
}
