@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.footer {
  padding-bottom: 2rem;

  @include breakpoint-min-size($desktop) {
    @include flex-row;
    padding-bottom: 4rem;
    justify-content: center;
  }

  &__container {
    @include breakpoint-min-size($desktop) {
      @include flex-row;
      width: 72%;
      justify-content: space-between;
    }
  }

  &__copyright {
    @include m-bold-heading;
    padding-bottom: 0.6rem;
    margin-block-end: 0;
  }

  &__link {
    @include m-text-link;
  }

  &__right {
    @include flex-row;
    gap: 0.5rem;
    padding-left: 1.5rem;
    @include breakpoint-min-size($desktop) {
      align-items: center;
    }
  }
}
