@import "../../styles/partials/_FontStyles";
@import "../../styles/partials/_Mixins";
@import "../../styles/partials/_Variables";

.top-paragraph {
  @include breakpoint-min-size($desktop) {
    padding: 0 7.3rem;
    margin-bottom: 1rem;
  }
}

.big {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  &__title {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;

    @include breakpoint-min-size($desktop) {
      font-size: 2rem;
    }
  }

  &__desc {
    font-family: "Fraunces 9pt";
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.2rem;

    @include breakpoint-min-size($desktop) {
      font-size: 1.5rem;
      max-width: 70%;
    }
  }
}

.sparkle-group {
  height: 2rem;
  padding-top: 0.2rem;
  display: none;

  @include breakpoint-min-size($desktop) {
    display: block;
  }
}

.list {
  &__container {
    padding: 0 1rem;
    padding-bottom: 2rem;

    @include breakpoint-min-size($desktop) {
      display: flex;
      flex-direction: row;
      gap: 0.6rem;
    }
  }

  &__desc {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__item {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__inline {
    font-weight: 600;
    color: #4069cc;
    padding-left: 0.3rem;
  }
}
