.big {
  &__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  &__title {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__desc {
    font-family: "Fraunces 9pt";
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.2rem;
  }
}

.sparkle-group {
  height: 2rem;
  display: none;
}

.list {
  &__container {
    padding: 0 1rem;
  }

  &__desc {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__item {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__inline {
    font-weight: 600;
    color: #4069cc;
  }
}
